nav {
   box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 100%, 0.1);
}

#offcanvasNavbar {
   width: clamp(260px, 500px, 30%);
}

section {
   width: clamp(290px, 1000px, 80%) !important;
}

.projectContainer {
   display: flex;
   flex-direction: column;
   justify-content: between;
   gap: 1rem;
   margin: 2rem auto;
   padding: 1rem;
}
@media (min-width: 992px) {
   .projectContainer {
      flex-direction: row;
      gap: 2rem;
   }
   #portfolioProjectDescription {
      max-width: 60%;
   }
}

.carousel-inner {
   border-radius: 0.375em;
   width: clamp(290px, 500px, 40vw);
}

.card {
   margin: auto;
   padding-bottom: 1.2rem;
   width: clamp(290px, 500px, 40vw);
   min-height: 420px;
}

.carousel-control-prev,
.carousel-control-next {
   background-color: rgba(0, 0, 0, 0.75);
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
   margin: 0.5rem auto;
}
