@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
.space-mono-regular {
   font-family: "Space Mono", monospace;
   font-weight: 400;
   font-style: normal;
}
.space-mono-bold {
   font-family: "Space Mono", monospace;
   font-weight: 700;
   font-style: normal;
}

/* *Header */
nav {
   box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 100%, 0.1);
}

#offcanvasNavbar {
   width: clamp(260px, 500px, 30%);
}

/* * */
/* *Main */
#sobre {
   height: 60vh;
   margin-bottom: 50vh;
}

#sobre h1 {
   font-size: 4.4rem;
}

.carousel-indicators {
   bottom: -0.6rem;
}

.carousel-inner {
   border-radius: 0.375em;
}

.card {
   margin: auto;
   padding-bottom: 1.2rem;
   min-height: 420px;
}

.carousel-control-prev,
.carousel-control-next {
   background-color: rgba(0, 0, 0, 0.75);
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
   margin: 0.5rem auto;
}

/* * */
/* *Footer */
#emailConteudo {
   min-height: 200px;
}

.invalid-warning {
   width: 100%;
   margin-top: 0;
   margin-bottom: 1rem;
}

/* * */
/* *Fade scroll */
.scroll-section {
   height: 100vh;
   transform: translateY(-30px);
   opacity: 0;
   transition: 1s;
}

.scroll-section.show-section {
   transform: translateY(0px);
   opacity: 1;
}

footer {
   height: 60vh !important;
}
